*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  background-color: white;
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(6, 245, 26), rgb(50, 7, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#HOME {
    overflow: hidden;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(161, 245, 6), rgb(241, 7, 163));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#MPU {
    overflow: hidden;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(161, 245, 6), rgb(241, 7, 163));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#JCB {
    overflow: hidden;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(161, 245, 6), rgb(241, 7, 163));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}


label {
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(6, 245, 26), rgb(50, 7, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scroll-table-container {
    height: 400px; 
    overflow: scroll;
} 

.scroll-table, td, th {
    min-width: 20px;
    font-size: 15px;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font: size 5px;
    border-collapse: collapse;
    width: 100%;
  }

  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

    #table td {
        border: 1px solid #ddd;
        font-size: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        text-align: center;
        color: black;
    }

/* JCB */
.btn1 button
{
    font-weight: bold;
    position: relative;
    display: block;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    color: white;
    background: #F69C09;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
button:hover
{
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.btn1 button:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    transition: all .5s ease-in-out;
}
.btn1 button:after
{
    background: #E52E2E;
    transform: translate(-105%, -20%) rotate(45deg);
}
.btn1:hover button:after{
    transform: translate(-9%, -20%) rotate(45deg);
}
button span{
    position: relative;
    z-index: 1;
}

/* JCB BACK */
.btn1 a
{
    text-decoration: none;
    float: left;
    font-weight: bold;
    position: relative;
    display: block;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    color: white;
    background: #F69C09;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
a:hover
{
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.btn1 a:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 500%;
    width: 200%;
    transition: all .5s ease-in-out;
}
.btn1 a:after
{
    background: #E52E2E;
    transform: translate(-115%, -20%) rotate(45deg);
}
.btn1:hover a:after{
    transform: translate(-15%, -20%) rotate(45deg);
}
a span{
    position: relative;
    z-index: 1;
}

/* JCB DOWNLOAD */
.btn2 a
{
    
    text-decoration: none;
    float: left;
    font-weight: bold;
    position: relative;
    display: block;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    color: white;
    background: #F69C09;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
a:hover
{
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.btn2 a:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 700%;
    width: 100%;
    transition: all .5s ease-in-out;
}
.btn2 a:after
{
    background: #E52E2E;
    transform: translate(-130%, -20%) rotate(45deg);
}
.btn2:hover a:after{
    transform: translate(-30%, -20%) rotate(45deg);
}
a span{
    position: relative;
    z-index: 1;
}

/* MPU */
.btn3 button
{
    font-weight: bold;
    position: relative;
    display: block;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    color: white;
    background: #F69C09;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
button:hover
{
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.btn3 button:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    transition: all .5s ease-in-out;
}
.btn3 button:after
{
    background: #E52E2E;
    transform: translate(-100%, -20%) rotate(45deg);
}
.btn3:hover button:after{
    transform: translate(-9%, -20%) rotate(45deg);
}
button span{
    position: relative;
    z-index: 1;
}

/* MPU DOWNLOAD */
.btn4 a
{
    
    text-decoration: none;
    float: left;
    font-weight: bold;
    position: relative;
    display: block;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    color: white;
    background: #F69C09;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
a:hover
{
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.btn4 a:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 700%;
    width: 100%;
    transition: all .5s ease-in-out;
}
.btn4 a:after
{
    background: #E52E2E;
    transform: translate(-123%, -20%) rotate(45deg);
}
.btn4:hover a:after{
    transform: translate(-30%, -30%) rotate(45deg);
}
a span{
    position: relative;
    z-index: 1;
}

/* HOME */
.home button
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -100px;
    font-weight: bold;
    display: block;
    border-radius: 50px;
    border: none;
    color: white;
    background: #F69C09;
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
button:hover
{
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.home button:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    transition: all .5s ease-in-out;
}
.home button:after
{
    background: #E52E2E;
    transform: translate(-105%, -20%) rotate(45deg);
}
.home:hover button:after{
    transform: translate(-9%, -20%) rotate(45deg);
}
button span{
    position: relative;
    z-index: 1;
}
#home:hover{
    background-color: #E52E2E;
}
#home{
    background-color: #F69C09;
}